* {
  box-sizing: border-box;
}

body {
  background-color: #373340;
  margin: 0px;
}

#container {
  display: flex;
}

#toc {
  order: 1;
  flex: 1 0 auto;
  position: absolute;

  padding: 20px;
  padding-top: 0px;
  width: 300px;
  height: 100%;
  background-color: #373340;
}

#chapter-list-wrapper {
  display: block;
  position: fixed;
  width: 300px;
  height: 100%;
  overflow: auto;
}

#chapter-list {
  display: block;
  position: absolute;
  font-family: sans-serif;
  font-size: 20px;
  color: #f8f8f8;
  padding-left: 0px;
  width: 300px;
  margin: 40px 0px;
}

#chapter-list li {
  padding-top: 15px;
  list-style: none;
}

a:link {
  text-decoration: none;
  color: grey; /*#f8f8f8;*/
}

a:visited {
  color: grey; /*#f8f8f8;*/
}

a:hover {
  color: #f8f8f8;
}


#book-contents {
  order: 2;
  flex: 2 1 auto;
  position: absolute;

  font-size: 20px;
  font-family: Georgia, serif;
  color: #f8f8f8;
  background-color: #373340;

  padding: 0px 80px;
  height: 100%;
  overflow: auto;
}

p {
  text-align: justify;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 400;
  color: white;
}

h1 {
  margin-top: 50px;
  padding-top: 30px;
}

#menu-bar {
  position: fixed;
  top: 0px;
  height: 50px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(55,51,64,1), rgba(0,0,0,0));
  padding: 10px;
}

#toc-button {

  font-size: 20px;
  background-color: #373340;
  color: grey;
  border: 1px dotted grey;
  border-radius: 5px;
  height: 30px;
  /*width: 60px;*/
}

#toc-button:hover {
  color: #f8f8f8;
  border: 1px solid #f8f8f8;
}

#toc-button:focus {
  outline: none;
}

#bottom-fade {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  background: linear-gradient(to top, rgba(55,51,64,1), rgba(0,0,0,0));
}
